@model MVCTaskP.Models.User
@{
    ViewBag.Title = "editePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edite Password</h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm("editePassword", "User"))
                                {
                                    <div class="mb-3">
                                        @Html.Label("Enter the Old Password")
                                        <input type="password" name="OP" class="form-control" />
                                    </div>
                                    <div class="mb-3">

                                        @Html.Label("Enter New Password")
                                        @Html.PasswordFor(n => n.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(n => n.Password)
                                    </div>
                                    <div class="mb-3">
                                        @Html.LabelFor(n => n.ConfirmPassword)
                                        @Html.PasswordFor(n => n.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(n => n.ConfirmPassword)
                                    </div>
                                    <input type="submit" value="Edite" class="btn btn-primary" />
                                    <a class="btn btn-primary" href="/Dashboard"> Cancel </a>
                                    if (ViewBag.mes != null)
                                    {
                                        <h5 class="text-danger">@ViewBag.mes</h5>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

