@model MVCTaskP.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "User"))
                                {
                                    <div class="mb-3">

                                        @Html.LabelFor(n => n.UserName)
                                        @Html.TextBoxFor(n => n.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(n => n.UserName)
                                    </div>
                                    <div class="mb-3">
                                        @Html.LabelFor(n => n.Password)
                                        @Html.PasswordFor(n => n.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(n => n.Password)
                                    </div>
                                    <input type="submit" value="login" class="btn btn-primary"/>
                                }
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

